.cabecalhos /* CABEÇALHO DE CADA PÁGINA/TELA */
{
    position: fixed;
    top: 0;
    width: 100%;
    
}


.cabecalhos #logopequeno
{
    position: absolute;
    left: 0px;
    top: 3px;
    z-index: 1;
}


.cabecalhos #conexao
{
    position: absolute;
    right: 0px;
    top: 3px;
    z-index: 1;
}


.ui-content /*CONTEÚDO MAIN DA PÁGINA HTML*/
{
    position: relative;
    min-height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.ui-content h3
{
    text-align: center;
}



.rodape
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*PARTE DO LAYOUT DA PÁGINA OCULTA QUE APARECE SOMENTE QUANDO FOR NOVO CADASTRO*/


ui-content #login_aviso
{
     padding-top: 5px;
}


#icone_mensagem
{
    float: left;
  
}


#botao_novocadastro
{
    padding-top: 10px;
    bottom: 45px;
}

#div_cadastro
{
    top: 3px;
}


