.cabecalhos /* CABEÇALHO DE CADA PÁGINA/TELA */
{
    position: fixed;
    top: 0;
    width: 100%;
    
}


.cabecalhos #logopequeno
{
    position: absolute;
    left: 0px;
    top: 3px;
    z-index: 1;
}


.cabecalhos #conexao
{
    position: absolute;
    right: 0px;
    top: 3px;
    z-index: 1;
}


.ui-content /*CONTEÚDO MAIN DA PÁGINA HTML*/
{
    position: relative;
    min-height: 100%;
    padding-top: 10px;
}


.rodape
{
    position: fixed;
    bottom: 0;
    width: 100%;
}

