.cabecalhos /* CABEÇALHO DE CADA PÁGINA/TELA */
{
    position: fixed;
    top: 0;
    width: 100%;
    
}


.cabecalhos #logopequeno
{
    position: absolute;
    left: 0px;
    top: 3px;
    z-index: 1;
}


.cabecalhos #conexao
{
    position: absolute;
    right: 0px;
    top: 3px;
    z-index: 1;
}


.ui-content /*CONTEÚDO MAIN DA PÁGINA HTML*/
{
    position: relative;
    min-height: 100%;
    padding-top: 10px;
}


.rodape
{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.ui-grid-b springboard
{
    height: 100px;
    background-color: #98FB98; /* Green */
    border: none;
    color: white;
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
    margin-right 5px
  
}




