
header
{
	
}


nav
{
	margin-top:40px;
	height:40px;
	
}


.button
{
	display:inline;
	width:100px;
	cursor:pointer;
	font-family:Verdana;
	background-color:white;
	border-radius: 8px 8px 8px 8px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	
}

.button:hover
{
	transition-duration: 0.5s;
	background-color:#32CD32;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	color:white;
}

section
{
	text-align:justify;
}

section p
{
	font-family: Verdana;
}

section img
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:50px;
	
}

footer
{
	text-align:center;
}

h1,h2,h3
{
	font-family: Verdana;
}

img
{
	max-width:100%;
}

hr
{
	border-color:#7CFC00;
}

@media all and (min-width: 960px)
{
	body
	{
		width:960px;
		margin:auto;
	}
}

@media all and (max-width: 400px)
{
	nav
	{
		height:100%;
	}
	
	nav li
	{
		display:block;
	}
}
